.flex {
    display: flex;
}

.bandeau div{
    align-items: center;
    justify-content: center;
}

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
main{
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    display:flex;
    flex-direction:column;
    margin-right: auto;
    margin-left:auto;
    max-width: 710px;
    flex-grow:1;
}

section{
    display: flex;
}

aside{
    border-color: black;
    border-style: solid;
    padding: 10px;
    margin-right:5px;
}

.card{
    margin: 10px;
}

.card p{
    font-size: 12px;
}

.btn{
    background-color: #D92332;
    color:white;
    border-style:solid black;
}
.btn:hover{
    background-color: #D92332;
}