flex {
    display: flex;
}

.bandeau div{
    align-items: center;
    justify-content: center;
}

body{
    display:flex;
    flex-direction:column;
    min-height:100vh;
}
main{
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    display:flex;
    flex-direction:column;
    margin-right: auto;
    margin-left:auto;
    max-width: 710px;
    flex-grow:1;
}