/*mise en page du contenu de la page main*/
main{
    margin: 0 auto;
    padding-top: 90px;
    padding-bottom: 90px;
    display:flex;
    flex-direction:column;
    margin-right: auto;
    margin-left:auto;
    max-width: 710px;
    flex-grow:1;
}

.herosection{
    flex-direction: row;
}

.heropic{
    width: 50%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.heropic::after {
    content: ""; /* Ajoute un pseudo-élément après l'image */
    position: absolute; /* Position absolue par rapport à son parent .heropic */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1)); /* Dégradé linéaire vers la droite */
}

.heropic img{
    max-width: 100%;
    height:100%;
    object-fit:cover;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0));
}

.column{
    flex:1;
    padding-top: 10px;
    padding-bottom: 10px;
}

.herotext{
    flex-direction: column;
    justify-content: center;
}

.section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#23D9CA;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.section div{
    width:100%;
    height: 250px;
    overflow:hidden;
    position:relative;
}
.section div img{
    position:absolute;
    bottom:-100px;
    max-width:100%;
    height:auto;
    object-fit:cover;
    object-position:bottom;
}
h2{
    font-size: xx-large;
}
.section p{
    font-weight: bold;
}

.section a{
    text-decoration: none;
    background-color:#D92332;
    margin: 20px;
    padding:10px;
    font-size: 32px;
    border-radius: 10px;
    color: white;
}
.section a:hover{
    background-color: white;
    color:#D92332;
}

/*mise en page du footer*/

footer{
    background-color: #23D9CA;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top:solid black;
    margin-top: auto;
}

.footer-container{
    justify-content: center;
}

.footer-col{
    width: calc(33.33%-20px);
    max-width: 224px;
    margin-right: 20px;
}
footer h2{
    text-decoration: underline;
}
.footer-col ul{
    list-style: none;
    padding-inline-start: 0;
}

.footer-col ul li a{
    color:black;
    text-decoration: none;
}

.footer-col:last-child{
    margin-right:0;
}

.footer-col img{
    width:75%;
    align-items: center;
}

.garage-map{
    justify-content: center;
}

.social-icons img{
    width: 30px;
    margin-right:10px;
}

/*media query pour taille d'acran plus petit */

@media (max-width: 720px) {

    /*flex mobile de la hero section*/
    main{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .herosection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position:relative;
        min-height:auto;
    }

    .heropic{
        opacity:0.3;
        object-fit:fill;
        width:100%;
        min-height:auto;
    }

    .column{
        padding: 20px;
        position:absolute;
    }
}

@media (max-width: 480px){
    .herotitle{
        font-size: 24px;;
    }
    .herotext{
        font-size: 14px;
    }
}